<app-spinner></app-spinner>
<app-header></app-header>
<main>
  <section id="fondo">
    <h1>Mundo Versus</h1>
  </section>

  <div class="slider">
    <ul>
      <li>
        <img src="assets/images/424 metro.jpeg">
      </li>
      <li>
        <img src="assets/images/426 metro.jpeg">
      </li>
      <li>
        <img src="assets/images/426 metro 2.jpeg">
      </li>
      <li>
        <img src="assets/images/kings-lu (1).jpeg">
      </li>
      <li>
        <img src="assets/images/kings-lu (2).jpeg">
      </li>
      <li>
        <img src="assets/images/suns (1).jpeg">
      </li>
      <li>
        <img src="assets/images/suns (2).jpeg">
      </li>
      <li>
        <img src="assets/images/suns (3).jpeg">
      </li>
      <li>
        <img src="assets/images/suns (4).jpeg">
      </li>
      <li>
        <img src="assets/images/Suns.jpeg">
      </li>
      <li>
        <img src="assets/images/Wince (1).jpeg">
      </li>
      <li>
        <img src="assets/images/Wince (2).jpeg">
      </li>
      <li>
        <img src="assets/images/Wince (3).jpeg">
      </li>
      <li>
        <img src="assets/images/Wince (4).jpeg">
      </li>
      <li>
        <img src="assets/images/Wince (5).jpeg">
      </li>
      <li>
        <img src="assets/images/Wince (6).jpeg">
      </li>

    </ul>
  </div>

  <router-outlet class="rout"></router-outlet>

  <section id="Serigrafia">
    <div class="container">
        <div class="img-container"></div>
        <div class="texto">

            <h2>Serigrafía</h2>
            <p >La serigrafía es una técnica de estampación, posiblemente, podríamos decir que es la más antigua. Hoy en día la serigrafía sigue siendo una técnica bastante manual donde interviene la mano del hombre para poder realizar las estampaciones, aunque en los últimos tiempos se ha ido modernizando con máquinas.

              La serigrafía consiste en transferir el logo o la imagen que se desea estampar a través de una malla denominada pantalla. Por cada color que se quiera, necesitamos una pantalla adicional. Estas pantallas permiten pasar la tinta para formar el dibujo deseado.</p>
        </div>
    </div>
  </section>

  <section id="nuestros-servicios">
    <div class="container">
        <h2>Nuestros Servicios</h2>
        <div class="programas">

            <div class="servicios">
                <div class="carta">
                    <h3>Diseños</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>

                </div>
                <div class="carta">
                    <h3>Playeras</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>

                </div>
                <div class="carta">
                    <h3>Otros</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>

                </div>
            </div>
        </div>
    </div>
  </section>


</main>

<!--<chat-dialog></chat-dialog>-->


<footer>
  <p>&copy; Mundo Versus </p>
</footer>
