<mat-toolbar color="warn">
  <img src="assets/images/mundo_versus.png" routerLink="/">
  <div>
    <button mat-flat-button color="warn" routerLink="/">Inicio</button>
    <button mat-flat-button color="warn" routerLink="/create">Pedido</button>
    <button mat-flat-button color="warn" routerLink="/list">Pedidos</button>
    <button mat-flat-button color="warn" routerLink="/ubicacion">Ubicación</button>
    <button mat-flat-button color="warn" routerLink="/about">Conócenos</button>
  </div>
</mat-toolbar>
