<header class="content header">
    <h2 class="title">Inicio</h2>
    <p>
        En los inicios solo ofrecíamos maquila de serigrafía,
        siendo nuestros principales clientes los fabricantes de
        mochilas y playeras o ropa en general, con el paso del tiempo
        nuestros clientes nos pedían más servicios por lo que se adquirió
        la máquina de alta frecuencia, con este equipo nos abrimos las puertas a l
        os clientes del calzado y bolsas, ofreciéndoles los grabados en materiales sintéticos.
    </p>
</header>


<section class="content about">

    <h2 class="title">Nosotros</h2>
    <p>Somos una referencia en serigrafía textil, con nuestros servicios de serigrafía
        automática, digital, transfer serigráfico y bordado. No hay proyecto que no podamos
        abarcar en textil y la experiencia y calidad de nuestros trabajos nos precede.

        En estampación industrial desarrollamos los campos de la serigrafía plana,
        siendo especialistas en trabajos de gran detalle que requieren un ajuste perfecto,
        y abarcando la serigrafía sobre vinilos y adhesivos, la tampografía o el grabado láser.

        Además de los dos grandes campos de la serigrafía ofrecemos los servicios de impresión
        digital y corte por vinilo,  y de diseño gráfico.
    </p>

</section>


<section class="content price">

    <article class="contain">
        <h2 class="title">Precio</h2>
        <p>Nuestros precios son los mejores del mercado, ya que
            para nosotros es importante la comodidad economica de nuestros clientes.
            Aunque como bien sabemos los precios varian segun el tipo de proceso que lleve
            el trabajo que se nos sea solicitado.
        </p>
    </article>

</section>
